@model LibraryService.Contracts.BookRestData
@{
    ViewBag.Title = "Książka";
}
<h2>@ViewBag.Title</h2>
<h3>Tytuł: @Model.Title</h3>
<h3>Autor: @Model.Author</h3>
<h3>Rok publikacji: @Model.YearOfPublication</h3>