<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="LibraryService.LibraryManager" behaviorConfiguration="LibraryManagerBehaviors">
        <endpoint address="" binding="wsHttpBinding" contract="LibraryService.Contracts.ILibrary" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <endpoint address="web" binding="webHttpBinding" behaviorConfiguration="webBehavior" contract="LibraryService.Contracts.ILibraryRest" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LibraryManagerBehaviors" >
          <!-- Dodaj następujący element do konfiguracji zachowania usługi. -->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    <endpointBehaviors>
      <behavior name="webBehavior">
        <webHttp/>
      </behavior>
    </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add service="LibraryService.LibraryManager" relativeAddress="LibraryService.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

<connectionStrings><add name="BookContext" connectionString="metadata=res://*/BookContext.csdl|res://*/BookContext.ssdl|res://*/BookContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\dariu\Documents\ArchWeb.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
